* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.tile {
  height: 600px;
  padding: 0.5rem;

  font: 400 1rem Arial;

  border: 3px double var(--palette_2_fifth);
  border-radius: 1rem;

  background-color: var(--palette_2_second);
  color: var(--palette_2_fourth);

  display: grid;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: max-content;
  grid-template-areas:
    " title title"
    " img description"
    " details details";

  justify-items: center;
  align-items: center;
}

.tile-title {
  grid-area: title;
  color: var(--palette_2_fifth);
}

.tile-img {
  max-width: 100px;
  max-height: 200px;
  grid-area: img;
}

.tile-description {
  grid-area: description;

  padding: 1.5rem;

  align-self: start;
  text-align: start;
  overflow: auto;
  height: 90%;
}

.tile-details {
  align-self: end;
  grid-area: details;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.tile-details section {
  width: 100%;
}
